.chart {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(136, 143, 135, 1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(136, 143, 135, 1);
  box-shadow: 0px 0px 13px 0px rgba(136, 143, 135, 1);
}

.chartTitle{
    margin-bottom: 20px;
}