.featured {
  display: flex;
}

.featuredItem {
  justify-content: space-between;
  flex: 1;
  margin: 0 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(136,143,135,1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(136,143,135,1);
  box-shadow: 0px 0px 13px 0px rgba(136,143,135,1);
}

.featuredTitle{
    font-size: 20px;
}

.featuredMoneyContainer{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: bold;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative{
    color:red;
}

.featuredSub{
    font-size: 15px;
    color: grey;
}