
.productList{
    flex:4;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.button{
    border: none;
    border-radius: 10px;
    cursor: pointer;    
    font-size: 5px !important;
}

.button.edit{
   background-color: #E1E8EB;
   color: #4A4A4A;
   margin-right: 10px;
   
}

.button.delete{
    background-color: #E6B8B8;
    color: #333333;
    transition: color 0.1s ease;
}

.button.delete:hover {
    color: #cc4c4c;
  }