.product {
  flex: 4;
  margin: 20px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productAddButton {
  width: 80px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: #c3e6cb;
  color: #4a5d23;
  font-size: 16px;
  cursor: pointer;
  transition: color 5s;
}

.productAddButton:hover {
  background-color: #b6e6c1;
}

.productTop {
  display: flex;
}

.productTopLeft {
  flex: 1;
}

.productTopRight {
  flex: 1;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(136, 143, 135, 1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(136, 143, 135, 1);
  box-shadow: 0px 0px 13px 0px rgba(136, 143, 135, 1);
}

.productInfoImg {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.productInfoTop {
  display: flex;
  flex-direction: column;
}

.productName {
  font-weight: 600;
  margin-top: 10px;
}

.productInfoBottom {
  margin-left: 50px;
}

.productInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.productInfoValue {
  font-weight: 300;
}

.productBottom {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(136, 143, 135, 1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(136, 143, 135, 1);
  box-shadow: 0px 0px 13px 0px rgba(136, 143, 135, 1);
}

.productForm {
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
}

.productFormLeft > label {
  font-size: 14px;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

.productFormLeft > input {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #c2cadb;
  padding: 5px;
}

.productFormLeft > select {
  margin-bottom: 10px;
 
}

.productFormRight{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.productUpload {
    display: flex;
    align-items: center;
    position: relative;
    width: 150px;
    height: 150px;
  }

  .uploadImg{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    position: absolute;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 20px;
    border: 2px solid #e0e0e0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.productUpload Label {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 5px;
    bottom: 5px;
    background-color: #3e4e6171; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .productUpload label:hover {
    background-color: #3e4e61e6;
  }

  .productUpdateButton{
    margin-top: 10px;
    width: 150px;
    background-color: #4CAF50;
    color: white; 
    border: none; 
    display: inline-block;
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer;
  }

  .productUpdateButton:hover {
    background-color: #66d268;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }